body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #cfcfcf;
    flex-direction: column;
  }
  
  .easter-animation {
    position: relative;
    cursor: pointer;
  }
  .div-txt{position: absolute; background-color: rgb(255, 255, 255); bottom: 20px; text-align: center; padding: 20px; border-radius: 10px;}
  
  .egg {
     position: relative;
     width: 160px;
     height: 80px;
     background: #fff;
     border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%;
     top:80px;
  }
  
  .egg-top {
     position: absolute;
     width: 160px;
     height: 120px;
     background: #fff;
     border-radius: 50% 50% 70% 30% / 100% 100% 0% 0%;
     top:-48px;
     left:0;
     transition: .2s;
  }
  
  .egg:before, .egg:after, .egg-top:before, .shell:before {
     content:"";
     position: absolute;
     border-style: solid;
  }
  
  .egg:before {
    border-color: transparent transparent #ffffff transparent;
    border-width: 0 20px 20px 0;
    top: -19px;
  }
  
  .egg:after {
    border-color: transparent transparent #ffffff transparent;
    border-width: 0 0 20px 20px;
    top: -19px;
    left: 140px;
  }
  
  .egg-top:before {
    border-color: #ffffff transparent transparent transparent;
    border-width: 20px 20px 0 20px;
    top:120px;
  }
  
  .shell-top, .shell-top:before, .shell-top:after {
    position: absolute;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    border-width: 20px 20px 0 20px;
  }
  
  .shell-top {
    left:40px;
    top:120px;
  }
  
  .shell-top:before, .shell-top:after {
    content:"";
    top:-20px;
  }
  
  .shell-top:before {
    left:20px;
  }
  
  .shell-top:after {
    left:60px;
  }
  
  .shell {
    position: absolute;
    z-index:-1;
  }
  
  .shell:before {
    border-color: transparent transparent #e2e2e2 transparent;
    border-width: 0 20px 20px 20px;
    top:-19px;
    left:20px;
    filter: drop-shadow(40px 0 #e2e2e2) drop-shadow(40px 0 #e2e2e2);
  }
  
  .shell:after {
    content:"";
    position: absolute;
    background-color: rgba(0,0,0,.1);
    width:160px;
    height: 40px;
    border-radius:50%;
    top:50px;
    left:0;
  }
  
  .egg-top:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,.2);
    width:25px;
    height:60px;
    border-radius:50%;
    transform: rotate(-27deg);
    top:20px;
    left:105px;
  }
  
  .grass {
    position: absolute;
  }
  
  .grass:before {
    content:"";
    position: absolute;
    border-left: 8px solid #90be6d;
    border-top: 1px solid #90be6d;
    border-top-left-radius: 100%;
    width: 40px;
    height: 60px;
    top:30px;
    left:130px;
    filter: drop-shadow(20px -5px #90be6d) drop-shadow(-120px -5px #90be6d);
  }
  
  .grass:after {
    content:"";
    position: absolute;
    border-right: 6px solid #90be6d;
    border-top: 1px solid #90be6d;
    border-top-right-radius: 100%;
    width: 30px;
    height: 50px;
    top:30px;
    left:90px;
    filter: drop-shadow(20px -5px #90be6d) drop-shadow(-120px -5px #90be6d);
  }
  
  .daisy {
    position: absolute;
    border-right: 7px solid #90be6d;
    border-top: 2px solid #90be6d;
    border-top-right-radius: 100%;
    width: 40px;
    height: 110px;
    top:50px;
    left:-15px;
  }
  
  .daisy:before, .daisy:after {
    content:"";
    position: absolute;
    background-color: white;
    border-radius:10px;
  }
  
  .daisy:before {
    width: 60px;
    height:10px;
    top:-10px;
    left:-25px;
  }
  
  .daisy:after {
    height:60px;
    width:10px;
    top:-35px;
  }
  
  .flower, .flower:before {
    position: absolute;
    background-color: white;
    border-radius:10px;
  }
  
  .flower {
    width:60px;
    height:10px;
    left:-25px;
    top:-10px;
    transform: rotate(45deg);
    z-index:2;
  }
  
  .flower:before {
    content:"";
    width:60px;
    height:10px;
    left:0;
    transform: rotate(90deg);
  }
  
  .flower:after {
    position: absolute;
    content:"";
    border-radius:50%;
    background-color: #e2e2e2;
    width:10px;
    height:10px;
    top:0;
    left:25px;
  }
  
  .back-flower {
    position: absolute;
    transform: scaleX(-1) scale(.7);
    top:50px;
    left:160px;
  }
  
  .chick {
    position: absolute;
    background-color: #ffd000;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    width:130px;
    height: 150px;
    left:15px;
    top:-10px;
    z-index:-3;
  }
  
  .chick:before {
    content:"";
    position: absolute;
    background-color: #333;
    width: 7px;
    height:10px;
    border-radius:50%;
    top:50px;
    left:50px;
    box-shadow: 25px 0 #333;
    transform-origin: 50%;
    animation: blink 2s infinite;
  }
  
  @keyframes blink {
      0%, 100% {transform: scale(1, .05);}
      5%, 95% {transform: scale(1, 1);}
  }
  
  .beak {
    position: absolute;
    border-color: transparent transparent #ee9b00 transparent;
    border-width: 0 25px 30px 25px;
    border-style: solid;
    left:40px;
    top:50px;
  }
  
  .beak:before {
    content:"";
    position: absolute;
    border-color: #d48a00 transparent transparent transparent;
    border-width: 20px 20px 0 20px;
    border-style: solid;
    top:29px;
    left:-19px;
  }
  
  .easter-animation:hover .egg-top {
    transform: translateY(-55px);
  }
  
  .text {
    position: absolute;
    top:170px;
    width:100%;
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    font-size:20px;
  }